<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Francis Addai">
	<title>{% block title %} {{ title }} {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Fact App</h3>
						<nav>
							<ul class="nav masthead-nav">
								{% with links = ['home', 'facts', 'logout'] if 'user' in session else ['home', 'login', 'signup'] %}
									{% for link in links %}
										<li><a href="{{ url_for(link) }}">{{ link.title() }}</a></li>
									{% endfor %}
								{% endwith %}
							</ul>
						</nav>
					</div>
				</div>

				{% with messages = get_flashed_messages(with_categories=true) %} 
				{% if messages %}
					<ul style="list-style-type: none">
						{% for category, message in messages %}
						<li class="alert alert-{{ category }}">{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %} 
				{% endwith %} 
				
				{% block content %}{% endblock %}

				<div class="mastfoot">
					<div class="inner">
						<p>Copyright &copy; 2017 All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>